@model IEnumerable<BusStation.Models.Trip>

@{
    ViewData["Title"] = "Index";
}

<h1>Список рейсов</h1>

<p>
    <a asp-action="Create">Добавить новый рейс</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Route)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DriversComposition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FreeSeatCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TripDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TripTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TripDateArrival)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TripTimeArrival)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Bus.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Route.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DriversComposition.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FreeSeatCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TripDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TripTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TripDateArrival)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TripTimeArrival)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Подробности</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
