@model IEnumerable<BusStation.Models.DriversComposition>

@{
    ViewData["Title"] = "Index";
}

<h1>Состав водителей</h1>

<p>
    <a asp-action="Create">Добавить новый состав водителей</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Driver1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Driver2)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @string.Format("{0} {1}. {2}.", item.Driver1.Surname, item.Driver1.Name[0], item.Driver1.Patronymic[0])
            </td>
            <td>
                    @if (item.Driver2 != null)
                    {
                        @string.Format("{0} {1}. {2}.", item.Driver2.Surname, item.Driver2.Name[0], item.Driver2.Patronymic[0])
                    }
                @*@string.Format("{0} {1}. {2}.", item.Driver2.Surname, item.Driver2.Name[0], item.Driver2.Patronymic[0])*@
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Подробности</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
